extends layouts/standard.pug

block head
    title PennBook Friends
    script(src='js/ajaxfriendspage.js')

block content
    h1 Friends
    div(class='friends-content')
        div(id='friends-target')