extends layouts/standard.pug

block head
  title Login to PennBook
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/login.css')

block content
  h1(class='text-center') Login Below:
  div(class='', align='center')
    form(role='form', action='/wall', method='POST')
      div.form-group(class='w-25')
        label(for='username') Username: 
        input#username.form-control(type='text', name='username', placeholder='Enter username here.')
      div.form-group(class='w-25')
        label(for='password') Password:
        input#password.form-control(type='password', name='password', placeholder='Enter password here.')
      button.btn.btn-primary(type='submit', name='loginButton') Login