extends layouts/standard.pug

block head
    title Your Wall

block content
    div(class='mywall-content')
        div(class='mywall-inputarea')
            textarea(id='mywall-inputtextarea')
            button(id='mywall-inputbutton')
        div(class='mywall-postarea')
            h1 Your posts:
            