extends layouts/standard.pug

block head
	title Article Recommendation
	link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/news.css')
	

block content
	div(class='news-head')
		h1 Articles that matches your Interests..
	div(class='divider')
	div(class='news-body')
		ul
			each result in results
				#{result.headline.S}