extends layouts/standard.pug

block head
  title Notifications
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css')
  
block content
  h1 Notifications