extends layouts/standard.pug

block head
    title Search for PennBook Users
    script(src='js/friendOps.js')
    script(src='js/ajaxsearchusers.js')

block content
    a(class='a', href='/wall') MatchA
    h1 Search
    div(class="search-content")
        div(class="search-area")
            h2(id='search-areatext') Searching for '<span id='search-query'>#{query}</span>'   
            div(id='search-results-target')     
