extends layouts/standard.pug

block head
  title Welcome to PennBook

block content
  h1(class="text-center") Welcome to PennBook!
  div(class="row", align='center')
    div(class='col')
      h3 Don't Have An Account? Create an Account Here!
      form(method="get", action="/signup")
        button(id='splash-signup', class="btn btn-primary btn-rounded margin-left")
          span Create your account
    br
    div(class='col')
      h3 Already have an account? Login Here!
      form(method="get", action="/login")
        button(id='splash-login', class="btn btn-primary btn-rounded margin-right")
          span Login