extends layouts/standard.pug

block head
  title PennBook Main Page

block content
  h1(class="text-center italics bold") PennBook
  div(class="row")
    form(method="get", action="/signup")
      button(id='splash-signup', class="btn btn-primary btn-rounded margin-left")
        span Create your account
    br

    form(method="get", action="/login")
      button(id='splash-login', class="btn btn-primary btn-rounded margin-right")
        span Login here