extends layouts/standard.pug

block head
    title PennBook
    script(src='js/ajaxloadwall.js')

block content
    h1 Wall
    div(class="center")
        form(method="get", action="/visualizer")
            button(id='wall-visualizer', class="btn btn-primary btn-rounded margin-center")
            span See your web of friends!
    div(class="wall-content")
        div(class="wall-inputarea")
            textarea(class="wall-mainpost")
