extends layouts/standard.pug

block head
    title PennBook
    script(src='js/ajaxloadwall.js');

block content
    h1 Wall
    div(class="wall-content")
        div(class="wall-inputarea")
            textarea(class="wall-mainpost")
