.btnAceSend {
  background-color: #49592A; /* Matcha Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  
  font-size: 20px;
  font-family: Helvetica, Sans-Serif;
}

.btnAceSend:hover{
  border: 3px solid white;
}

.btnAceLeave {
  background-color: #49592A; /* Matcha Green */
  border: none;
  color: white;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Helvetica, Sans-Serif;
}

.btnAceLeave:hover{
  border: 3px solid white;
}

.chatBtnClass {
	background-color: #49592A;
    border: none;
    color: white;
    padding: 10px 10px;
    margin: 10px;
    overflow-wrap: normal;
    
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: Helvetica, Sans-Serif;
}

.createBtnClass {
	background-color: #D4CB8C;
    border: none;
    color: black;
    padding: 10px 10px;
    margin: 10px;
    overflow-wrap: normal;
    
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: Helvetica, Sans-Serif;
}

.leftHalf {
	background-color: #74A12E;
	padding: 10px 20px;
	text-align: center;
	display: block;
	
	font-size: 14px;
	font-family: Helvetica, Sans-Serif;
}

.rightHalf {
	background-color: #C7D9AB;
	padding: 10px 20px;
	text-align: center;
	display: none;
	
	font-size: 14px;
	font-family: Helvetica, Sans-Serif;
}

.messageDisplay {
	background-color: #6D4930;
	list-style: none;
	padding: 20px 20px;
	margin: 10px;
	
	
	overflow:hidden;
	overflow-y:scroll;
}

.me {
	background-color: #424106;
	color: #D4CB8C;
	padding: 10px 10px;
    display: block;
    text-align: right;
    margin: 10px;
    margin-left: 40%;
    
    overflow-wrap: anywhere;
	
	font-size: 14px;
	font-family: Helvetica, Sans-Serif;
}

.other {
	background-color: #707C4F;
	color: white;
	padding: 10px 10px;
    display: block;
    text-align: left;
    margin: 10px;
    margin-right: 40%;
    
    overflow-wrap: anywhere;
	
	font-size: 14px;
	font-family: Helvetica, Sans-Serif;
}

.form-popup {
  display: none;
  background-color: #D4CB8C;
  border: 3px solid #424106;
  
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 9;
}

.btnAceBasic {
  background-color: #49592A; /* Matcha Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  
  font-size: 16px;
  font-family: Helvetica, Sans-Serif;
}

.btnAceBasic:hover{
  border: 3px solid white;
}

.friendspopup {
  display: none;
  background-color: #D4CB8C;
  border: 3px solid #424106;
  
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 9;
}

.friendListing {
	border:none;
	background-color: none;
	display:block;
}
.listTemplate{
	list-style: none;
	padding: 20px 20px;
	margin: 10px;
	
	font-size: 16px;
	font-family: Helvetica, Sans-Serif;
}

.customHeader {
	padding: 10px 10px;
	margin: 6px;
	
	font-size: 20px;
	font-family: Helvetica, Sans-Serif;
}

.messageTags {
	padding: 2px 4px;
	margin: 6px;
	
	font-size: 12px;
	font-family: Helvetica, Sans-Serif;
}

.memberspopup {
  display: none;
  background-color: #D4CB8C;
  border: 3px solid #424106;
  
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 9;
}
