.btnAceSend {
  background-color: #49592A; /* Matcha Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Helvetica, Sans-Serif;
}

.btnAceSend:hover{
  border: 3px solid white;
}

.btnAceLeave {
  background-color: #49592A; /* Matcha Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Helvetica, Sans-Serif;
}

.btnAceLeave:hover{
  border: 3px solid white;
}

.chatBtnClass {
	background-color: #49592A;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Helvetica, Sans-Serif;
}

.leftHalf {
	background-color: #74A12E;
	padding: 10px 20px;
	text-align: center;
	display: block;
	
	font-size: 14px;
	font-family: Helvetica, Sans-Serif;
}

.rightHalf {
	background-color: #C7D9AB;
	padding: 10px 20px;
	text-align: center;
	display: none;
	
	font-size: 14px;
	font-family: Helvetica, Sans-Serif;
}