.login-head{
    display:inline-block;
    background:#74A12E;
    color:skyblue;
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position:fixed;
    top:0;
}

.divider{
    width: 100%;
    height: 1px;
    color:white;
}

.login-body{
    background:#74A12E;
    text-align: center;
    width: 100%;
    padding-top: 10%;
}

.login-footer{
    background: #74A12E;
    height:100vw;
}