@import url(https://fonts.googleapis.com/css?family=Chewy);

.login-head{
    display:inline-block;
    background:#C7D9AB;
    color:skyblue;
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position:fixed;
    top:0;
    font-family: 'Chewy';
}

.divider{
    width: 100%;
    height: 1px;
    color:white;
}

.login-body{
    background:#C7D9AB;
    text-align: center;
    width: 100%;
    padding-top: 10%;
    font-family: 'Chewy';
}

.login-footer{
    background: #C7D9AB;
    height:100vw;
}

.login-h1{
    color: #49592A;
    font-size: 3vw;
}