
.news-head{
    display:inline-block;
    background:#707C4F;
    color:skyblue;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position:fixed;
    top:0;
}

.divider{
    width: 100%;
    height: 1px;
    color:white;
}

.news-body{
    background:#C7D9AB;
    text-align: center;
    width: 100%;
    padding-top: 10%;
    font-size: 20px;
}

.search-box {
    border-radius: 25px;
    background: #707C4F;
    padding: 20px; 
    margin: 10px;
    width: 700px;
    height: 200px;
    font-family: Helvetica, Sans-Serif;
}

.news-Class {
	background-color: #C7D9AB;
    border: none;
    color: black;
    padding: 10px 10px;
    margin: 10px;
    overflow-wrap: normal;
    
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: Helvetica, Sans-Serif;
}

.news-box {
    border-radius: 25px;
    background: rgb(255, 255, 255);
    padding: 20px; 
    margin: 10px;
    width: 700px;
    height: 500px;
    font-family: Helvetica, Sans-Serif;
  }