form {
    display:inline-block;
    width:50%;
    text-align: center;
}

.parallax{
    /* The image used */
    background-image: url("https://www.popsci.com/uploads/2021/10/15/close-up-photo-of-a-matcha-latte-cup.jpg?auto=webp");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wall-header{
    display:inline-block;
    background:lightgreen;
    color:skyblue;
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position:fixed;
    top:0;
    margin-bottom: 0;
}

.wall-buttons{
    display:inline-block;
    background:lightgreen;
    width:100%;
    margin-top:0;
}

.wall-divider{
    width:100%;
    color: white;
    background: white;
    height: 1px;
}

.wall-content{
    margin-top: 105px;
    background:lightgreen;
    text-align: center;
    width: 85%;
    margin-left:auto;
    margin-right:auto;
    height: 100vh;
}